<p id="notice"><%= notice %></p>

<p>
  <strong>Destino:</strong>
  <%= @travel.destino %>
</p>

<p>
  <strong>Data:</strong>
  <%= @travel.data %>
</p>


<%= link_to 'Edit', edit_travel_path(@travel) %> |
<%= link_to 'Back', travels_path %>
<%= link_to 'New Cost', new_travel_cost_path(@travel) %>

