<%= form_for [@travel,@cost] do |f| %>
  <% if @cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cost.errors.count, "error") %> prohibited this cost from being saved:</h2>

      <ul>
      <% @cost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <style type="text/css">

  #content2{
        display: none;
      }
  </style>

  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.collection_select(:tipo_id, Tipo.order(:description), :id, :description)%>
  </div>
  
  <div class="field">
    <%= f.label :valor %><br>
    <%= f.text_field :valor%>
  </div>
  
  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :data %>
  </div>
  <div id = "content2">
    <%= f.label :travel_id %><br>
    <%= f.text_field :travel_id %>
  </div>
  <div class="field">
    <%= f.label :cover %><br>
    <%= f.file_field :cover %>
  </div>

  
  <div class="actions">
    <%= f.submit %>
  </div>
  <div><h2><Strong>New tipo</h2></Strong>
  <%= link_to 'New Tipo', new_tipo_path %>
</div>
<% end %>
