<h1>Listing costs</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Valor</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @costs.each do |cost| %>
      <tr>
        <td><%= cost.tipo.description %></td>
        <td><%= cost.valor %></td>
        <td><%= cost.data.strftime("%d-%m-%Y") %></td>
        <td><%= link_to 'Show', cost %></td>
        <td><%= link_to 'Edit', edit_cost_path(cost) %></td>
        <td><%= link_to 'Destroy', cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cost', new_travel_cost_path %>
<%= link_to 'Return to Travel', travels_path %>
