<div id="centralize">
<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @cost.tipo.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @cost.valor %>
</p>

<p>
  <strong>Date:</strong>
  <%= @cost.data.strftime("%d-%m-%Y") %>
</p>

<p>
	<p><strong>Nota Fiscal</strong></p>
	<%= image_tag @cost.cover.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', travels_path %>



</div>

