<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @cost.tipo %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @cost.valor %>
</p>

<p>
  <strong>Data:</strong>
  <%= @cost.data %>
</p>

<p>
  <strong>Travel:</strong>
  <%= @cost.travel %>
</p>

<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', travels_path %>
