<!DOCTYPE html>
<html>
<head>

  <title>Teste20</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	</head>

<body>


	<div id="centralize">
		<div id="content">
			<% if user_signed_in? %>
			<p id="h2-home"><%= link_to "Home", homes_path %></p>
			<div id="content4">
				<strong><h1 id="h1-menu">Travels</h1></strong>
			</div>
			<div id="content2">
				<strong>Bem vindo</strong> <%= current_user.email %>
				<%= link_to "Encerrar sessão", destroy_user_session_path, method: :delete %>
		<%else%>
				<div id="content3">
				<%= link_to "Cadastrar", new_user_registration_path %>  <%= link_to "Entrar", new_user_session_path %>
				</div>
		<%end%>
				</div>
		</div>		
	</div>
	<hr id="hr-home">

<%= yield %>

</body>
</html>
