<!DOCTYPE html>
<html>
<head>

	
	<style type="text/css">	

		#content2{
			width: 500px;
			float: right;
			text-align: right;
			margin-top: -30px;
		}

		#content{
			height: 50px;
			margin-top: -10px;
			padding-top: 10px;
			padding-left: 5px;
			padding-right: 5px;
			background-color: #32CD32;
			border-radius: 3px;
		}

		#content2 a{
			color: #fff;
			padding: 5px 10px;
			border-radius: 3px;
			background-color: #006400;
			text-decoration: none;
			margin-right: 5px;
			margin-left: 5px;
		}

		#content2 a:hover{
			opacity: 0.8;
		}

		#content3{
			float: left;
			text-align: left;
		}
		#content3 a{
			color: #fff;
			padding: 5px 10px;
			border-radius: 3px;
			background-color: #006400;
			text-decoration: none;
			margin-right: 5px;
			margin-left: 5px;
		}
		#content4{
			text-align: :center;
			margin-left: 510px;
			margin-top: -40px;
		}

		#text-to-center{
			margin-right: 60px;
			text-align: center;
		}

		#hr-home{
			border-color:#B0C4DE;
			opacity: 0.8;
		}
		#h2-home a{
			color: #fff;
			padding: 5px 10px;
			border-radius: 3px;
			background-color: #006400;
			text-decoration: none;
			margin-right: 6px;
			margin-left: 5px;
			font-size: 18px;
		}
		#h1-menu{
			color: #fff;
			text-shadow:0px 0px 3px #667;
		}


	</style>

  <title>Teste20</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	</head>

	<body>


	<div id="content">
	<% if user_signed_in? %>
	<p id="h2-home"><%= link_to "Home", homes_path %></p>
	<div id="content4">
		<strong><h1 id="h1-menu">Travels</h1></strong>
	</div>
	<div id="content2">
	<%=image_tag current_user.avatar.url(:thumb)%>
	Bem vindo <%= current_user.email %>
	</div>
	<div id="content3">
	<%= link_to "Encerrar sessão", destroy_user_session_path, method: :delete %>
	</div>
	<%else%>
	<div id="content3">
	<%= link_to "Cadastrar", new_user_registration_path %> / <%= link_to "Entrar", new_user_session_path %>
	</div>
</div>


<%end%>



	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
